*{
    margin: 0;
}

body {
    background-color: darkgrey;

}

p{
    font-family: arial;
    font-size: 20px;
}

.lennerz{
    text-align: center;
    font-size: 100px;
    font-family: liberation serif; 
}
.scoreContainer{
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.uScore {
    width: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.cScore {
    width: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: white;
    width: 150px;
    border-radius: 50%;
    border: 0 ;
}

.buttons {
    margin-top:10rem;
    height: 150px;
    display: flex;
    justify-content: center;
}

#rock{
    background-image: url('rock.jpeg');
    background-size: cover;
    background-position: center;
}

#paper{
    background-image: url('paper.jpeg');
    background-size: cover;
    background-position: center;
}

#scissors{
    background-image: url('scissors.jpeg');
    background-size: cover;
    background-position: center;
}

.gameInfo{
    display: flex;
    justify-content: center;
    margin-top:10rem;
    height: 10rem;
}
